.row
  .col-md-5.offset-sm-1
    h2
      | Edit #{resource_name.to_s.humanize}
    = render 'shared/alert'
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), \
      wrapper: :horizontal_form, html: { method: :put }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, required: true, autofocus: true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          p
            | Currently waiting confirmation for: #{resource.unconfirmed_email}
        = f.input :password,                                     \
          hint: "leave it blank if you don't want to change it", \
          required: false,                                       \
          input_html: { autocomplete: "new-password" }
        = f.input :password_confirmation,              \
          required: false,                             \
          input_html: { autocomplete: "new-password" }
        = f.input :current_password,                                     \
          hint: "we need your current password to confirm your changes", \
          input_html: { autocomplete: "current-password" }
        = f.input :first_name, autocomplete: "first_name"
        = f.input :last_name, autocomplete: "last_name"
        = f.input :time_zone, collection: ActiveSupport::TimeZone::MAPPING.values.uniq.sort, input_html: {class: 'col-md-8'}
      .form-actions
        = f.button :submit, "Update", class: 'btn-primary'
    br
    p
      | Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
    = link_to "Back", :back
