.row
  .col-md-5.offset-sm-1
    h3 Sign up
    = simple_form_for resource, as: resource_name, url: registration_path(resource_name), \
      wrapper: :horizontal_form, html: { class: 'form-horizontal' } do |f|
      .alert.alert-info
        | See email to get instructions after submit
      = render "devise/shared/error_messages", resource: resource
      = f.input :email, autofocus: true, autocomplete: "email"
      - if @minimum_password_length
        em
          = @minimum_password_length
          |  characters minimum
      = f.input :password, required: true, autocomplete: 'new-password'
      = f.input :password_confirmation, required: true, autocomplete: "new-password", label: 'Password confirmation'
      = f.input :first_name, autocomplete: "first_name"
      = f.input :last_name, autocomplete: "last_name"
      = f.input :time_zone, collection: ActiveSupport::TimeZone::MAPPING.values.sort, input_html: {class: 'col-md-8'}
      = f.button :submit, 'Sign up', class: 'btn-primary'
    br
    = render "devise/shared/links"
