.row
  .col-md-4.offset-sm-1
    br
    h3 Log in
    hr
    = render 'shared/alert'
    = simple_form_for resource, as: resource_name, url: session_path(resource_name), \
      wrapper: :horizontal_form, html: { class: 'form-horizontal' } do |f|
      = render "devise/shared/error_messages"
      = f.input :email, required: false, autofocus: true
      - if @minimum_password_length
        em
          = @minimum_password_length
          |  characters minimum
      = f.input :password, required: false
      = f.input :remember_me, as: :boolean, wrapper: :horizontal_boolean, label: ''

      .row
        .col-md-3
          = f.button :submit, 'Log in', class: 'btn-primary'
    br
    = render "devise/shared/links"
