- if user_signed_in?
  nav.navbar.fixed-top.navbar-expand-lg.navbar-light style="background-color: #e3f2fd;"
    a.navbar-brand href="#{root_path}" FEEDS
    button.navbar-toggler aria-controls="navbarSupportedContent" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarSupportedContent" data-toggle="collapse" type="button"
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.w-100
        li.nav-item.dropdown.ml-auto
          a#navbarDropdown.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
            | User
          .dropdown-menu.dropdown-menu-right aria-labelledby="navbarDropdown"
            = link_to 'Edit profile', edit_user_registration_path, class: 'dropdown-item'
            = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
  br
