.row
  .col-md-5.offset-sm-1
    h2 Resend confirmation instructions
    = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), \
      wrapper: :horizontal_form, html: { method: :post }) do |f|
      = f.error_notification
      = f.full_error :confirmation_token
      .form-inputs
        = f.input :email,                                                                          \
          required: true,                                                                          \
          autofocus: true,                                                                         \
          value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), \
          input_html: { autocomplete: "email" }
      .form-actions
        = f.button :submit, "Resend confirmation instructions", class: 'btn-primary'
    br
    = render "devise/shared/links"
