.card.mb-3
  .card-header
    h6= link_to detail.title, detail.url, target: :_blank
  .card-body
    .row
      .col-sm-2
        img.crop src="#{detail.url_to_image}" style=("height:125px; width:125px; object-fit:cover")
      .col-sm-10
        .row
          .col-sm-2 Description:
          .col-sm-8= detail.description
        .row
          .col-sm-2 Author:
          .col-sm-8= detail.author
        .row
          .col-sm-2 Published at:
          .col-sm-8= detail.published_at
        .row
          .col-sm-2 Source name:
          .col-sm-8= detail.source_name
