- case owner
- when 'index'
  .row
    = link_to '+Add new feed', new_feed_path, class: 'btn btn-outline-secondary'
- when 'show'
  .row
    .col-6
      h6= "Updated at: #{@feed.completed_at}"
    .col-6
      .text-right= link_to 'Force to grab news', refresh_feed_path, method: :post, class: 'btn btn-primary'
