.container
  = render 'shared/alert'
  h2.text-center Welcome to the personal News Feed website!
  hr/
  h4.mb-0.text-center The news are grabbed from https://newsapi.org/. Add new feeds and enjoy!
  = render 'links', owner: 'index'
  .row.row-cols-1.row-cols-md-3
    - @feeds.each do |feed|
      .col
        .[class = "card #{ feed.id.odd? ? 'text-white bg-secondary' : 'text-dark bg-warning' } mb-3"]
          .card-header
            .row
              .col
                h4= link_to feed.name, feed_path(feed)
              .col
                .text-right= "Since: #{feed.created_at.strftime('%b-%d-%Y %H:%M:%S')}"
          .card-body
            .row
              .col Search query:
              .col= feed.search_query
            .row
              .col Language:
              .col= feed.language_caption
            .row
              .col Notify if update:
              .col= check_box_tag 'flag', true, feed.is_email_on_update, disabled: true
            .row
              .col Updated interval:
              .col= feed.grab_interval.name
          .card-body
            = link_to "Delete", feed_path(feed), method: :delete, data: { confirm: "Are you sure?" }
