.container
.row
  .col-md-5.offset-sm-1
    h3 Creating new Feed
    = simple_form_for @feed, wrapper: :horizontal_form do |f|
      = f.input :name, autofocus: true, input_html: {class: 'col-md-7'}
      = f.input :language, collection: Languages.dataset, label_method: :label, value_method: :key, input_html: {class: 'col-md-7'}
      = f.input :search_query, input_html: {class: 'col-md-7'}
      = f.association :grab_interval, collection: GrabInterval.order('interval'), input_html: {class: 'col-md-7'}
      = f.input :is_email_on_update, as: :boolean, wrapper: :horizontal_boolean, label: '', checked_value: true, unchecked_value: false
      = f.button :submit, 'Create new feed', class: 'btn-primary'
