.container
  = render 'shared/alert'
  h3.text-center= @feed.name
  = render 'links', owner: 'show'
  = paginate @feed_details
  - @feed_details.each do |detail|
    = render 'detail', detail: detail
  = paginate @feed_details
