.row
  .col-md-5.offset-sm-1
    h2 Forgot your password?
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), \
      wrapper: :horizontal_form, html: { method: :post }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email,                       \
          required: true,                       \
          autofocus: true,                      \
          input_html: { autocomplete: "email" }
      .form-actions
        = f.button :submit, "Send me reset password instructions", class: 'btn-primary'
    br
    = render "devise/shared/links"
