doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
  body
    h1
      | You have successfully updated news by feed
      br/
    h4
    | Feed Name: #{@name}
    br/
    | Last Updated Time: #{@updated_at}
    br/
    | Number of new articles: #{@count}